   <nav>
    <div class="nav-wrapper amber">
      <a href="#!" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <%= link_to beers_path do %>
          <i class="material-icons left">reorder</i>View beers
          <% end %>
        </li>
        <li>
          <%= link_to new_beer_path do %>
          <i class="material-icons left">playlist_add</i>Add a beer
          <% end %>
        </li>
      </ul>
    </div>

  </nav>
